.home-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.home-page .body {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.home-page .body .left-side {
  max-width: 500px;
}

.home-page .body .left-side .content h2 {
  font-size: 44px;
  font-weight: 400;
  margin: 0;
}

.home-page .body .left-side .content p {
  font-size: 18px;
  font-weight: 300;
}

.home-page .body .left-side .content .action-btn {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home-page .body .left-side .content .action-btn .btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
  padding: 15px;
  border: none;
  outline: none;
  background: none;
  border-radius: 5px;
  color: #00796b;
  text-decoration: none;
}

.home-page .body .left-side .content .action-btn .btn .icon-block {
  padding-right: 10px;
}

.home-page .body .left-side .content .action-btn .btn:hover {
  background: #f6faf9;
}

.home-page .body .left-side .content .action-btn .input-block {
  margin-left: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.home-page .body .left-side .content .action-btn .input-block .input-section {
  position: relative;
  margin-right: 10px;
}

.home-page .body .left-side .content .action-btn .input-block .input-section .icon-block {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(10px, -50%);
          transform: translate(10px, -50%);
  color: #5f6368;
}

.home-page .body .left-side .content .action-btn .input-block .input-section input {
  font-size: 16px;
  height: 48px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-left: 35px;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

.home-page .body .left-side .help-text {
  margin-top: 30px;
  padding-top: 25px;
  border-top: 1px solid #ddd;
}

.home-page .body .left-side .help-text a {
  text-decoration: none;
  color: #00796b;
}

.home-page .body .right-side .content {
  border: 1px solid #eee;
  padding: 30px;
  width: 100%;
  max-width: 650px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
          box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 2px 6px 2px rgba(60, 64, 67, 0.149);
}

.home-page .body .right-side .content img {
  width: 100%;
  border-radius: 5px;
}
/*# sourceMappingURL=HomePage.css.map */